
/* Rules for all cases */

.box1, .box2 {
    
    padding: 1em;
}

.box1 {
    color: red;
}

.box2 {
    color: red;
}

/* Rules for case 1 */

.case1 .box1 {
    float: left;
}

.case1 .box2 {
    float: right;
}


/* Ignore this stuff, just presents the example better */

hgroup {
    clear: both;
}

whatever {
    background: #eee;
    display: block;
    overflow: hidden;
}

h1{
	background-color:red;
	}

.sri1{
	width:100%;
	background-color:white;
}



ul {
    
     background-color: #333;
	float:right;
	width:70%;
	margin-top:30px;
	text-decoration:none;
	list-style-type: none;
}

li {
    float: left;
	text-decoration:none;
	list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration:none;
}

li a:hover {
    background-color: red;
}

.container{
    
    text-align: center;
}
.category{
    display: inline-block;
    
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}


/** .category img:hover {
background-color: hsla(120, 100%, 50%, 0.3);
}
*/
.Slid img{
	width: 100%;
    height: auto;
}









.sri2{
	width:100%;
	float:left;
}
.a{
	width:33.33%;
	float:left;
}
.a p {
	text-align:justify;
}
.b{
	width:33.33%;
	float:left;
}
.c{
	width:33.33%;
	float:left;
}
.sri3{
	width:100%;
	float:left;
}
.d{
	width:33.33%;
	float:left;
}
.e{
	width:33.33%;
	float:left;
}
.f{
	width:33.33%;
	float:left;
}

.a p{
	text-align:justify;
	
	
}
.kiran{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	text-align: justify;
}

.kiran h6 a{
	text-decoration: none;
}

.kiran h1 {
	text-align: justify;
}

.kiran1{
	
}


.copy {

	text-align: center;
}

#grid{
    width:100%;
    clear:both;
    margin-left: 60px;
}
.block {
   
    margin:10px;
    float:left;
    margin-left: 30px;

}
.block1x1 {
    width: 250px;
    height: 220px;

}

.block1x1 img:hover{
 opacity: 0.5;
    filter: alpha(opacity=50);
border: 1px solid #94f4ff	;
}

.block2x1 img:hover{
 opacity: 0.5;
    filter: alpha(opacity=50);
border: 1px solid #94f4ff	;
}

.block1x2 img:hover{
 opacity: 0.5;
    filter: alpha(opacity=50);
border: 1px solid #94f4ff	;
}





.block2x1 {
    
    height: 200px;
}
.block1x2 {
    width: 200px;
    height: 470px;
    float:right;
}

.form {
	text-align: center;
	margin-left: 300px;
}

 input {
	height:40px;
	width:400px;
	border:1px solid grey;
}

input[type=submit] {
	height:40px;
	width:100px;
	background-color: red;
}


textarea {
	height:200px;
	width:600px;
	border:1px solid grey;
}